{#- Off-canvas mobile menu drawer (Astra). -#}
<div id="ast-mobile-popup-wrapper">
<div id="ast-mobile-popup" class="ast-mobile-popup-drawer content-align-flex-start ast-mobile-popup-right">
<div class="ast-mobile-popup-overlay"></div>
<div class="ast-mobile-popup-inner">
<div class="ast-mobile-popup-header">
<button type="button" id="menu-toggle-close" class="menu-toggle-close" aria-label="{{ L.strings.closeMenu }}" tabindex="0">
<span class="ast-svg-iconset">
<span aria-hidden="true" class="ahfb-svg-iconset ast-inline-flex svg-baseline"><svg class="ast-mobile-svg ast-close-svg" fill="currentColor" version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5.293 6.707l5.293 5.293-5.293 5.293c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0l5.293-5.293 5.293 5.293c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414l-5.293-5.293 5.293-5.293c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0l-5.293 5.293-5.293-5.293c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414z"></path></svg></span>							</span>
</button>
</div>
<div class="ast-mobile-popup-content">
<div class="ast-builder-menu-mobile ast-builder-menu ast-builder-menu-mobile-focus-item ast-builder-layout-element site-header-focus-item" data-section="section-header-mobile-menu">
<div class="ast-main-header-bar-alignment"><div class="main-header-bar-navigation"><nav class="site-navigation ast-flex-grow-1 navigation-accessibility site-header-focus-item" id="ast-mobile-site-navigation" aria-label="{{ nav.ariaLabel }}" itemtype="https://schema.org/SiteNavigationElement" itemscope="itemscope"><div class="main-navigation">{{ menus["ast-hf-mobile-menu"] | safe }}</div></nav></div></div>		</div>
</div>
<div class="ast-desktop-popup-content">
<div class="ast-builder-menu-mobile ast-builder-menu ast-builder-menu-mobile-focus-item ast-builder-layout-element site-header-focus-item" data-section="section-header-mobile-menu">
<div class="ast-main-header-bar-alignment"><div class="main-header-bar-navigation"><nav class="site-navigation ast-flex-grow-1 navigation-accessibility site-header-focus-item" id="ast-desktop-site-navigation" aria-label="{{ nav.ariaLabel }}" itemtype="https://schema.org/SiteNavigationElement" itemscope="itemscope"><div class="main-navigation">{{ menus["ast-desktop-toggle-menu"] | safe }}</div></nav></div></div>		</div>
</div>
</div>
</div>
</div>
